---		
layout: default		
title: javascript
---		
{% for post in paginator.posts %}		
<!--遍历这一页的文章-->		
	<h3><a href="/zz{{ post.url }}">{{ post.title }}</a></h3>	
	<!--链接--><!--标题-->	
{% endfor %}		
<div class="pagination">		
	{% if paginator.previous_page %}	
	<!--上一页的页数-->	
		<a href="/zz{{ paginator.previous_page_path }}" class="previous">
		<!--上一页的路径-->
		上一页
		</a>
	{% else %}	
		<span class="previous">上一页</span>
	{% endif %}	
<span class="page_number ">	
	当前页数: {{ paginator.page }} / {{ paginator.total_pages }}
	<!--当前页数--><!--总的页数-->
</span>	

	{% if paginator.next_page %}	
	<!--下一页的页数-->	
		<a href="/zz{{ paginator.next_page_path }}" class="next">下一页</a>
		<!--下一页的路径-->
	{% else %}	
		<span class="next ">下一页</span>
	{% endif %}	
</div>		
