<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/css/typo.css" />
<link rel="stylesheet" type="text/css" href="/css/peter.css" />
<title>阿呆</title>
</head>
		<h1><a href="http://xxcczz.github.io/">主页
		  </a><a href="http://xxcczz.github.io/xx/">html</a>
		  <a href="http://xxcczz.github.io/cc/">css</a>
		  <a href="http://xxcczz.github.io/zz/">javascript</a></h1>
<div id="wrapper" class="typo">
  <h1 style="text-align:center; margin-bottom: 0;">{{ page.title }}</h1>
  <br>
  {{ content }}
  <br>
</div>
</html>
